#order-registration-form table button,
#order-registration-form table input,
#order-registration-form table select {
  width: 100%;
  box-sizing: border-box;
}

#order-registration-form > table {
  width: 550px;
  table-layout: fixed;
}

button[href*="https://myApp"]
{
  background-color: red;
  color: white;
}

.links {
  color: red;
  word-wrap: normal;
  text-shadow: -1px 1px 0 palevioletred;
}

p,
div{
    font-size: 15px;
}

.fyi{
    font-weight: bold;
    font-size: 20px;
}

#information-for-speicific-customer{
    width: 38%;
        font-weight: inherit;
    font-size: inherit;
}