input {
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 550px;
    table-layout: fixed;
}

button {
    width: 100%;
    box-sizing: border-box;
}

select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

p {
    width: 60%;
}