#order-registration-form table button,
#order-registration-form table input,
#order-registration-form table select {
  width: 100%;
  box-sizing: border-box;
}

#order-registration-form > table {
  width: 550px;
  table-layout: fixed;
}

button[href*="https://myApp"]
{
  background-color: red;
  color: white;
}

.links {
  color: red;
  word-wrap: normal;
  text-shadow: -1px 1px 0 palevioletred;
}

p,
div {
  font-size: 15px;
}

.fyi {
  font-weight: bold;
  font-size: 20px;
}

#information-for-speicific-customer {
  font-weight: inherit;
  font-size: inherit;
}

nav > button {
  margin: 7px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  font-size: 17px;
}

.registration-page {
  max-width: 500px;
  margin: auto;
  padding: 30px;
}

.registration-page-decoration-img{
    width: 500px;
}